
@import url('https://fonts.googleapis.com/css?family=Lato:900');

body{
  /* grey #b6b6b6; */
  /* #e8d5c3   */
  background-color: #c19f89;
  color: #61615e;
  font-family: 'Lato', sans-serif;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.flexcontainer{
  display:flex;
  flex-direction: row;
  background-color: #bfa592;
  flex-wrap: wrap;
  justify-content: space-between;

}
