
@import url('https://fonts.googleapis.com/css?family=Lato:900');

body{
  /* grey #b6b6b6; */
  background-color:#e8d5c3 ;
  color: black;
  font-family: 'Lato', sans-serif;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
