@import url('https://fonts.googleapis.com/css?family=Heebo');

*{
  cursor: url(./media/cursor.png), crosshair;
}

header{
  display: absolute;
  height: 80px;
  /* border-bottom: 2px solid #8b0000; */
  height: 130px;

}
span{
  font-size: 25pt;
  position: absolute;
  left: 20px;
  top: 4%;
  border-left: 2px solid #8b0000;
  padding: 20px;
}


body{
  /* grey #b6b6b6; */
  /* #e8d5c3   */
  background-color:  #dad9da;
  color:#8b0000;
  font-family: 'Heebo', sans-serif;

}
.projectDescription{
  position: absolute;
  top: 28%;
  left: 10%;
  padding: 40px;
  width: 180px;
  height: 450px;
  font-size: 11pt;
  border-right: 2px solid #8b0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.flexcontainer{
  display:flex;
  flex-direction: row;
  /* background-color: #bfa592; */
  flex-wrap: wrap;
  justify-content: space-between;

  position: absolute;
  top: 27%;
  left: 30%;

}
