
@import url('https://fonts.googleapis.com/css?family=Lato:900');

.orgs-list{
    font-family: 'Lato', sans-serif;
    border: 5px solid #f3f2ee;
    max-width: 500px;
    max-height: 620px;
    width: auto;
    height: auto;
    overflow: scroll;

}


a{
    display:flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    border-bottom: 2px solid black;
    padding: 20px;
    
}